<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929008859044-ibpdkp1q8nsocfka99kko5hbpfr38jjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929008859044-ibpdkp1q8nsocfka99kko5hbpfr38jjq</string>
	<key>API_KEY</key>
	<string>AIzaSyCXcraEJCyA9JOpcbvM5Fi8ByNJaU5iEtA</string>
	<key>GCM_SENDER_ID</key>
	<string>929008859044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rodia.AugmentedRealityVisorIOS</string>
	<key>PROJECT_ID</key>
	<string>arvios-27b77</string>
	<key>STORAGE_BUCKET</key>
	<string>arvios-27b77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929008859044:ios:721b7bb2d78cf0036f3331</string>
</dict>
</plist>